body {
    margin: 0;
    background: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    background: lightgray;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}

button:hover {
    background: lightblue;
}
